.lhFzqP:hover:enabled {
  background-color: black !important;
}

.lhFzqP {
  background-color: whitesmoke !important;
  width: 50px !important;
  height: 50px !important;
}
.ewqrkn {
  box-shadow: 0 0 1px 3px rgb(0, 0, 0) !important;
  background-color: black !important;
}

@keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img-loading {
  opacity: 0;
  width: 100%;
  height: auto;
}

.img-loaded {
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.contant_box_404 {
  margin-top: -50px;
}

.text-center {
  text-align: center;
}

.button,
.button:hover,
.button:active,
.button:active:focus,
.button:visited,
.button:focus {
  color: #dcdcdc;
  outline: none;
}
